/* IMPOSTAZIONI GENERALI */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* HEADER */
.header {
  background-image: linear-gradient(to bottom right, #05a1c7, #006884);
  text-align: center;
  margin-inline: 20px;
}
#logo > img {
  width: 150px;
  padding-block: 20px;
}
h1 {
  color: white;
  font-variant: all-small-caps;
  margin-bottom: 10px;
  font-size: 20px;
}

.Menù {
  color: white;
  padding-bottom: 20px;
}
.Menù > a {
  color: white;
  text-decoration: none;
}
/* MAIN */
.main {
  background-color: white;
  margin-inline: 20px;
  line-height: 25px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-block: 20px;
}
.post-title > h4 {
  color: #a0a1a3;
}
p {
  margin-block: 15px;
}
p span {
  color: #982c60;
}
ul,
ol {
  padding-left: 40px;
}
li {
  padding-block: 3px;
}
.box {
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  background-color: #dee2e5;
  border-radius: 5px;
}
.tool {
  color: #1090b7;
  font-weight: bold;
}
/* TABELLE */
.table-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
table {
  margin-inline: auto;
  border-bottom-color: #426dcc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
table thead {
  background-color: #426dcc;
  color: white;
  height: 50px;
}
th {
  padding: 10px;
  text-align: center;
}
th span {
  display: inline-block;
  vertical-align: bottom;
}
.gray {
  border-block-color: #dcdcdc;
  border-block-style: solid;
  border-block-width: 1px;
  background-color: #f1f1f1;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
