/* IMPOSTAZIONI GENERALI */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.sfondo {
  background-image: url(../img/sfondo.png);
}
/* HEADER */
.header {
  background-image: linear-gradient(to bottom right, #05a1c7, #006884);
  text-align: center;
  margin-inline: 20px;
  box-shadow: 1px 2px 7px black;
  margin-bottom: 30px;
}
#logo > img {
  width: 150px;
  padding-block: 20px;
}
h1 {
  color: white;
  font-variant: all-small-caps;
  margin-bottom: 10px;
  font-size: 20px;
}

.Menù {
  color: white;
  padding-bottom: 20px;
}
.Menù p {
  margin-bottom: 0;
}
.Menù a {
  color: white;
  text-decoration: none;
}
/* MAIN */
.main {
  background-color: white;
  margin-inline: 20px;
  line-height: 25px;
  padding-block: 20px;
  padding-inline: 20px;
  box-shadow: 1px 2px 7px black;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-block: 20px;
}
.post-title > h4 {
  color: #a0a1a3;
}
p {
  margin-block: 15px;
}
p span {
  color: #982c60;
  font-weight: bold;
}
ul,
ol {
  padding-left: 40px;
}
li {
  padding-block: 3px;
}
.box {
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  background-color: #dee2e5;
  border-radius: 5px;
}
.tool {
  color: #1090b7;
  font-weight: bold;
}
video {
  margin-block: 10px;
  border-radius: 20px;
  display: block;
  width: 400px;
}
.area-correlati h3 {
  text-align: center;
  color: #303032;
  font-variant: all-small-caps;
  font-size: 40px;
  margin-bottom: 30px;
}
.article {
  background-color: #eaeaec;
  margin-block: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #cacaca;
  padding-left: 20px;
  padding-block: 20px;
}
.article h4,
.article h5:not(:last-of-type) {
  font-size: 20px;
}
h4 a {
  color: #1090b7;
  font-weight: bold;
}
.date {
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
}
/* TABELLE */
.table-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
}
table {
  margin-inline: auto;
  border-bottom-color: #426dcc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 420px;
}
table thead {
  background-color: #426dcc;
  color: white;
  height: 50px;
}
th {
  padding: 10px;
  text-align: center;
}
th span {
  display: inline-block;
  vertical-align: bottom;
}
td {
  text-align: center;
  padding: 10px;
}
.gray {
  border-block-color: #dcdcdc;
  border-block-style: solid;
  border-block-width: 1px;
  background-color: #f1f1f1;
}
/* FORM */
.form-newsletter {
  background-color: #eaeaec;
  margin-block: 30px;
  padding-block: 20px;
  text-align: center;
  font-size: 20px;
}
.form-newsletter h4 {
  text-align: center;
  color: #303032;
  font-variant: all-small-caps;
  font-size: 40px;
  margin-bottom: 30px;
}
#email {
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  font-size: 20px;
  padding: 5px;
}
button {
  background-color: #376cbc;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-width: 0;
  padding: 5px;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
.Copyright-info {
  background-image: linear-gradient(to bottom, #075269, #3c3e3d);
  text-align: center;
  margin-inline: 20px;
  margin-bottom: 20px;
  line-height: 25px;
  color: #dceef2;
  padding-inline: 20px;
  box-shadow: 1px 2px 7px black;
}
footer p {
  padding-top: 10px;
}
footer a {
  color: #ff00fe;
}
